.navbar, .clock
{font-family: 'Open Sans', sans-serif;}

.about-me{
	font-size: 5em;
	font-family: 'Rubik Moonrocks', cursive;
	color:pink;
}

.pink{
	font-family: 'Rubik Moonrocks', cursive;
	color:pink;
}

.footer {
	background: black;
	color: white;

}

.footer .fa {
	color: white;
}

