.navbar, .clock
{font-family: 'Open Sans', sans-serif;}

.about-me{
	font-size: 5em;
	font-family: 'Rubik Moonrocks', cursive;
	color:pink;
}

.pink{
	font-family: 'Rubik Moonrocks', cursive;
	color:pink;
}

.footer , .logo-color {
	background: black;
	color: white;

}

.footer .fa {
	color: white;
	font-size:2em;
}
.logo-color {
	font-size:1.5em;
}

.email{
font-family: 'Joan', serif;
font-size: 1.3em;
}

.fa-book,.fa-certificate,.fa-graduation-cap,.fa-home,.fa-building{
	font-size: 3em;
	text-align: center;
}

.it-training{
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em
}

.html {
	font-family: 'Bebas Neue', cursive;
	font-size:1.5em;
}