.navbar, .clock
{font-family: 'Open Sans', sans-serif;}

.about-me{
	font-size: 10vw;
	font-family: 'Rubik Moonrocks', cursive;
	color:pink;
}

.pink{
	font-family: 'Rubik Moonrocks', cursive;
	color:pink;
}

.footer , .logo-color {
	background: black;
	color: white;

}

.footer .fa {
	color: white;
	font-size:2rem;
}
.logo-color {
	font-size:1.5rem;
}

.email{
font-family: 'Joan', serif;
font-size: 1.3rem;
}

.fa-book,.fa-certificate,.fa-graduation-cap,.fa-home,.fa-building{
	font-size: 3rem;
	text-align: center;
}

.it-training{
	font-family: 'Dancing Script', cursive;
	font-size: 1.5rem
}

.html {
	font-family: 'Bebas Neue', cursive;
	font-size:1.5rem;
}
img{
	width: 20vw
}

@media (orientation:landscape){
	.carousel-1 {
		max-width: 100vw
	}
}

 @media (orientation:portrait){
	.carousel-1 img{
		max-width: 100vw
	}
}

@media only screen and (max-width: 600px) {
  .img-html {
  	margin-left: 17vw
  }
  .it-training,.fa-graduation-cap,.fa-home,.fa-building,.fa-book,.fa-certificate,.php{
  	margin-left: 30vw;
  }
}
